<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Document</title>
 <link rel="stylesheet" href="./Css/style.css">
</head>

<body>
 <div class="main-content">
  {{>header}}

  <img class="portrait" src="https://image.shutterstock.com/image-photo/guy-on-background-sky-260nw-497596165.jpg"
   alt="" />
 </div>


 {{>footer}}
</body>

</html>